<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Demeter Home Page</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	
	<style>
		.button {
    		border: none;
    		color: white;
    		height: 80px;
    		width: 300px;
    		line-height: 80px;
    		text-align: center;
    		text-decoration: none;
    		display: inline-block;
    		font-size: 20px;
    		margin: 4px 2px;
    		cursor: pointer;
		}
	</style>
	
	<style>
		body {
    		background-color: white;
		} 
	</style>
</head>

<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Demeter Authentication</h1><br>

		<a href="/auth/facebook" class="button" style="background-color:#0080FF"><span class="fa fa-facebook"></span>	Login with Facebook</a>
		
		<p>or</p>
		
		<a href="/signin" class="button" style="background-color:#04B404"><span class="fa fa-sign-in"></span> Login with Demeter</a>
		
		<p>or</p>
		
		<a href="/mainpage" class="button" style="background-color:#DF0101"><span class="fa fa-user"></span> Continue as guest</a>
	</div>

</div>
</body>
</html>
