<!-- views/mainpage.ejs -->
<!doctype html>
<html>
	<head>
		<title>Demeteter Registration Form</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
									<!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
										<!-- load fontawesome -->
		<style>							
			.button { 
	    		border: none;
	    		color: blue;
	    		line-height: 80px;
	    		text-align: left;
	    		text-decoration: none;
	    		display: inline-block;
	    		font-size: 20px;
	    		margin: 4px 2px;
	    		cursor: pointer;
			}
		</style>
		
		<style>
			body {
    			background-color: white;
			} 
		</style>
		
		<style>
			body {
			  width: 80%;
			  margin: 30px auto;
			  font-family: sans-serif;
			}
			
			h3 {
			  text-align: center;
			  font-size: 1.65em;
			  margin: 0 0 30px;
			}
			
			div {
			  font-size: 0;
			}
			
			a {
			  font-size: 16px;
			  display: inline-block;
			  margin-bottom: 8px;
			  width: calc(50% - 4px);
			  margin-right: 8px;
			  text-decoration: none;
			  color: black;
			}
			
			a:nth-of-type(2n) {
			  margin-right: 0;
			}
			
			@media screen and (min-width: 50em) {
			  a {
			    width: calc(25% - 6px);
			  }
			  
			  a:nth-of-type(2n) {
			    margin-right: 8px;
			  }
			  
			  a:nth-of-type(4n) {
			    margin-right: 0;
			  }
			}
			
			a:hover img {
			  transform: scale(1.15);
			}
			
			figure {
			  margin: 0;
			  overflow: hidden;
			}
			
			figcaption {
			  margin-top: 15px;
			}
			
			img {
			  border: none;
			  max-width: 100%;
			  height: auto;
			  display: block;
			  background: #ccc;
			  transition: transform .2s ease-in-out;
			}
			
			.p a {
			  display: inline;
			  font-size: 13px;
			  margin: 0;
			  text-decoration: underline;
			  color: blue;
			}
			
			.p {
			  text-align: center;
			  font-size: 13px;
			  padding-top: 100px;
			}
		</style>
	</head>
	<body>
	
		<% if(user){ %>
			<text> Logged as: <%= user %></text><br>
			<a href="/logout" class="button">Logout</a>
		<% } else { %>
			<text><a href="/signin" class="button"> Sign In </a> 
			<a href="/register" class="button"> Register </a></text><br>
		<% } %>
		
		<br>
		<br>
		<div class="container">
			<div class="jumbotron text-center">
				<div class="mt-40">
				    <a href='<%= recipes[0].image%>'>
    					<figure>
      						<img src='<%= recipes[0].image%>' alt="">
      						<figcaption>
      							<%= recipes[0].title%>
      						</figcaption>
    					</figure>
 					</a>
				    <a href='<%= recipes[1].image%>'>
    					<figure>
      						<img src='<%= recipes[1].image%>' alt="">
      						<figcaption>
      							<%= recipes[1].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[2].image%>'>
    					<figure>
      						<img src='<%= recipes[2].image%>' alt="">
      						<figcaption>
      							<%= recipes[2].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[3].image%>'>
    					<figure>
      						<img src='<%= recipes[3].image%>' alt="">
      						<figcaption>
      							<%= recipes[3].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[4].image%>'>
    					<figure>
      						<img src='<%= recipes[4].image%>' alt="">
      						<figcaption>
      							<%= recipes[4].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[5].image%>'>
    					<figure>
      						<img src='<%= recipes[5].image%>' alt="">
      						<figcaption>
      							<%= recipes[5].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[6].image%>'>
    					<figure>
      						<img src='<%= recipes[6].image%>' alt="">
      						<figcaption>
      							<%= recipes[6].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[7].image%>'>
    					<figure>
      						<img src='<%= recipes[7].image%>' alt="">
      						<figcaption>
      							<%= recipes[7].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[8].image%>'>
    					<figure>
      						<img src='<%= recipes[8].image%>' alt="">
      						<figcaption>
      							<%= recipes[8].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[9].image%>'>
    					<figure>
      						<img src='<%= recipes[9].image%>' alt="">
      						<figcaption>
      							<%= recipes[9].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[10].image%>'>
    					<figure>
      						<img src='<%= recipes[10].image%>' alt="">
      						<figcaption>
      							<%= recipes[10].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[11].image%>'>
    					<figure>
      						<img src='<%= recipes[11].image%>' alt="">
      						<figcaption>
      							<%= recipes[11].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[12].image%>'>
    					<figure>
      						<img src='<%= recipes[12].image%>' alt="">
      						<figcaption>
      							<%= recipes[12].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[13].image%>'>
    					<figure>
      						<img src='<%= recipes[13].image%>' alt="">
      						<figcaption>
      							<%= recipes[13].title%>
      						</figcaption>
    					</figure>
 					</a>
 					<a href='<%= recipes[14].image%>'>
    					<figure>
      						<img src='<%= recipes[14].image%>' alt="">
      						<figcaption>
      							<%= recipes[14].title%>
      						</figcaption>
    					</figure>
 					</a>
				</div>
			</div>
		</div>
	</body>
</html>