<!-- views/register.ejs -->
<!doctype html>
<html>
	<head>
		<title>Demeteter Registration Form</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
									<!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
										<!-- load fontawesome -->
		<style>									
			.button {
	    		border: none;
	    		color: white;
	    		height: 80px;
	    		width: 300px;
	    		line-height: 80px;
	    		text-align: center;
	    		text-decoration: none;
	    		display: inline-block;
	    		font-size: 20px;
	    		margin: 4px 2px;
	    		cursor: pointer;
			}
		</style>
		
		<style>
			body {
    			background-color: white;
			} 
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
			
				<form action="/register" method="post">
					<h1><span class="fa fa-lock"></span> Demeter Registration Form</h1><br>
					
						<!-- show any messages that come back with authentication -->
						<% if (message.length > 0) { %>
							<div class="alert alert-danger"><%= message %></div>
						<% } %>
					
						<table align="center" cellpadding = "10">
							<!----- First Name ---------------------------------------------------------->
							<tr>
								<td align="left">Complete name: </td>
								<td>
									<div class="form-group">
										<input type="text" class="form-control" name="completename" maxlength="30" required>
									</div>
								</td>
							</tr>
							<!----- Email --------------------------------------------------------------->
							<tr>
								<td align="left">Email: </td>
								<td>
									<div class="form-group">
										<input type="text" class="form-control" name="email" maxlength="100" required>
									</div>
								</td>
							</tr>
							<!----- Password ------------------------------------------------------------>
							<tr>
								<td align="left">Password: </td>
								<td>
									<div class="form-group">
										<input type="password" class="form-control" name="password" maxlength="100" required>
									</div>
								</td>
							</tr>
							<!----- Date Of Birth -------------------------------------------------------->
							<tr>
								<td align="left">Year of birth: </td>
								<td>
									<div class="form-group">
										<select name="birthyear" id=birthyear">
											<option value="-1">Year:</option>
											<option value="2012">2012</option>
											<option value="2011">2011</option>
											<option value="2010">2010</option>
											<option value="2009">2009</option>
											<option value="2008">2008</option>
											<option value="2007">2007</option>
											<option value="2006">2006</option>
											<option value="2005">2005</option>
											<option value="2004">2004</option>
											<option value="2003">2003</option>
											<option value="2002">2002</option>
											<option value="2001">2001</option>
											<option value="2000">2000</option>
											<option value="1999">1999</option>
											<option value="1998">1998</option>
											<option value="1997">1997</option>
											<option value="1996">1996</option>
											<option value="1995">1995</option>
											<option value="1994">1994</option>
											<option value="1993">1993</option>
											<option value="1992">1992</option>
											<option value="1991">1991</option>
											<option value="1990">1990</option>
											<option value="1989">1989</option>
											<option value="1988">1988</option>
											<option value="1987">1987</option>
											<option value="1986">1986</option>
											<option value="1985">1985</option>
											<option value="1984">1984</option>
											<option value="1983">1983</option>
											<option value="1982">1982</option>
											<option value="1981">1981</option>
											<option value="1980">1980</option>
										</select>
									</div>
								</td>
							</tr>
							<!----- Gender ----------------------------------------------------------->
							<tr>
								<td align="left">Gender: </td>
								<td>
									<div class="form-group">
										Male <input type="radio" name="gender" value="male" />
										&nbsp
										&nbsp
										&nbsp
										Female <input type="radio" name="gender" value="female" />
									</div>								
								</td>
							</tr>
						</table><br>
						<!----- Register ----------------------------------------------------------->
						
							<button type="submit" class="button" style="background-color:#0080FF"> Submit</button>
						
							<a href="/" class="button" style="background-color:#DF0101"><span class="fa fa-sign-in"></span> Back to Home</a>
					</form>
				</div>
			</div>
		</body>
	</html>