<!-- views/signin.ejs -->
<!doctype html>
<html>
	<head>
		<title>Demeter Sign In Form</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
									<!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
										<!-- load fontawesome -->
		<style>									
			.button {
	    		border: none;
	    		color: white;
	    		height: 80px;
	    		width: 300px;
	    		line-height: 80px;
	    		text-align: center;
	    		text-decoration: none;
	    		display: inline-block;
	    		font-size: 20px;
	    		margin: 4px 2px;
	    		cursor: pointer;
			}
		</style>
		
		<style>
			body {
    			background-color: white;
			} 
		</style>
		
		<style>
			body 		{ padding-top:80px; }
		</style>
	</head>
	<body>			
		<div class="container">
			<div class="jumbotron text-center">
			
				<form class="form-inline" action="/signin" method="post">
					<h1><span class="fa fa-lock"></span> Demeter Sign In Form</h1><br>
					
						<!-- show any messages that come back with authentication -->
						<% if (message.length > 0) { %>
							<div class="alert alert-danger"><%= message %></div>
						<% } %>
						
							<!----- Email --------------------------------------------------------------->
							
								<div class="form-group">
    								<label for="email">Email:</label>
    								<input type="email" class="form-control" name="email" style="width:300px;" required>&nbsp
  									&nbsp
  									&nbsp
  									&nbsp
  								</div>
							
							<!----- Password ------------------------------------------------------------>
							
								<div class="form-group">
    								<label for="password">Password:</label>
    								<input type="password" class="form-control" name="password" style="width:300px;" required>
  								</div>
							
						<br>
						<br>
						<!----- Sign In ----------------------------------------------------------->
						<button type="submit" class="button" style="background-color:#04B404"> Sign In</button>
						<a href="/" class="button" style="background-color:#DF0101"><span class="fa fa-sign-in"></span> Back to Home</a>
					</form>	
						<br>
						<label>Need a Demeter account? </label>			
						<a href="/register"> Register</a>
				</div>
			</div>
		</body>
	</html>